@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@500;600;700&display=swap");

.ff-lato {
  font-family: "Lato", sans-serif;
}

.ff-roboto {
  font-family: "Roboto", sans-serif;
}

.ff-newsreader {
  font-family: "Newsreader", serif;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.text-shadow {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.max-h {
  min-height: 100vh;
}

.auth-side {
  width: 80%;
}

.hr {
  width: 20vh;
  height: 1px;
  border-top: solid 1px #fff;
}

.btn-auth-nd {
  background: #000;
  border-radius: 10px;
}

.btn-auth-st {
  background: #376aed;
  border-radius: 10px;
}

.form-rounded {
  border-radius: 15px;
}

.bg-forgot {
  height: 100vh;
  background-image: url("/images/forgot-cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-link.active {
  font-weight: 700;
}

.jumbotron {
  height: 95vh;
  background-image: url("/images/jumbotron.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.jumbotron-2 {
  background-image: url("/images/jumbotron2.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.popular-tags .tags {
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 40px;
  color: #376aed;
}

.tags::-webkit-scrollbar {
  width: 1px;
}

/* .tags::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tags::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 20px;
} */

.form-input {
  border-radius: 20px;
}

.form-input-group {
  height: 20px;
  border-left: none;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.group-text {
  background-color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.profile-photo {
  border-radius: 50%;
  border: solid 2px seagreen;
}

/* .form-write {
  height: max-content;
} */

.upload-box {
  background-color: #fff;
  border: 1px solid rgba(55, 106, 237, 0.3);
}

.upload-dropbox {
  background-color: #fff;
  border: 2px dashed rgba(55, 106, 237, 0.3);
  height: inherit;
}

.profile-thumb {
  width: 82px;
  height: 82px;
  border-radius: 30px;
}

.radius {
  border-radius: 24px;
}

.user-act {
  margin-top: -30px;
  position: relative;
}

.photo-profile {
  border-radius: 24px;
  border: solid 2px seagreen;
  width: 115px;
  height: 115px;
  /* padding: 10px; */
}

.article-cover {
  width: 100%;
  height: 320px;
}

.comment-form {
  border: none;
  border-bottom: solid 1px #000;
}

.comment-form:focus {
  outline: 0;
  box-shadow: none;
  border-color: #000;
}

.notif-scroll::-webkit-scrollbar {
  width: 0;
}
/* .rounded {
  border-radius: 100px;
} */
